__pycache__/

*.pyc

*.pyo

*.egg-info/

.venv/

venv/

.idea/

.vscode/

logs/*.log

mlruns/

.airflow/

.dvc/cache/

data/raw/

data/processed/

data/validated/

data/warehouse/

*.db

.env

.ipynb_checkpoints/
